@import 'node_modules/reset-css/_reset';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

html {
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Helvetica, Arial, "モリサワ 新ゴ R", "Droid Sans", メイリオ, "sans-serif";
}

button {
  border: 1px solid #000;
}

.container {
  width: 1000px;
  margin: 0 auto;

  h1 {
    margin-top: 20px;
  }
}

.quiz {
  margin-top: 20px;
  width: 1000px;
  height: 500px;
  border: 1px solid #000;
}

.question {
  display: flex;
  align-items: center;
  height: 100%;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .question-unit {
    flex-grow: 1;
    width: 50%;
    padding: 50px;
  }

  .question-title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .question-list {
    > li {
      cursor: pointer;
      display: block;
      margin: 20px auto 0 auto;
      padding: 20px;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      text-align: center;
      background: #000;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

.judge {
  .judge-title {
    display: block;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .judge-description {
    margin-top: 30px;
    padding: 0 100px;
  }

  .judge-button {
    cursor: pointer;
    display: block;
    margin: 50px auto 0 auto;
    padding: 15px;
    width: 200px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    background: #000;
  }
}